DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=idf-pev
DB_SYNCHRONIZE=true
DB_LOGGING=true
JWT_SECRET=sua_chave_secreta_super_segura_aqui_123456


# URL do Frontend
FRONTEND_URL=http://localhost:3001


# Configurações da Aplicação
NODE_ENV=development
PORT=3000